/**
 **  _       _            _       _       
 ** | |_ ___| | _____   _(_)___  (_) ___  
 ** | __/ _ \ |/ _ \ \ / / / __| | |/ _ \ 
 ** | ||  __/ |  __/\ V /| \__ \_| | (_) |
 **  \__\___|_|\___| \_/ |_|___(_)_|\___/ 
 **
 ** CSS STYLING FILE
 **
 **/

html{
	min-width: 250px !important;
}

/*universal*/
	/*no text selection despite double click*/
	body{
	    -webkit-touch-callout: none;
	    -webkit-user-select: none;
	    -khtml-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	}
	/*sticky footer*/
	body {
		/*display: flex;*/
		/*min-height: 100vh;*/
		/*flex-direction: column;*/
	}
	main {
		margin-top:-10px;
		padding-top:10px;
		/*flex: 1 0 auto;*/
	}
	.page-footer{
		padding-top:0px;
		background-color: #efefef !important;
	}
	.page-footer #texts {
		padding-top:20px !important;
		/*margin-top:20px !important;*/
		/*border-top:1px solid #eee;*/
		/*border-bottom:1px solid #eee;*/
		margin-bottom:10px;
	}
	.page-footer #writtenwith{
		color: #bbb;
	}
	.page-footer #writtenwith a {
		color: grey;
		text-decoration: underline;
	}
	/*better spacing for sections*/
	section { 
		margin-top: 10px;
	}
	/*white background for divs*/
	.row{
		margin-bottom:0px;
		padding-bottom:20px;
	}
	#collapsible .row{
		background: white;
	}
	/*better card title line height*/
	.card-title { 
		line-height: 40% !important; 
	}
	/*better container width*/
	.container {
		/*width: 90%;*/
	}

/*buttons*/
	/*less padding on sides*/
	.btn, .btn-flat{ 
		padding-left: 10px; 
		padding-right: 10px;
		border-radius: 0px;
		padding:0px margin:0px;
	}
	/*better padding for episodes*/
	section#queue a.episode, section#manage a.episode{
		margin-bottom:5px;
	}
	section#queue a.more{
		margin-bottom:5px;
	}

/*navbar*/
	header .navbar, header nav, header.nav-wrapper{
		box-shadow: none;
	}
	header li a#title span{
		font-size: x-large;
	}

/*calendar*/
	section#cal div#canvas table{
	    table-layout: fixed;
	}
	section#cal div#canvas table tr{
		border-bottom: 1px solid #eee;
	}
	section#cal div#canvas table td{
		vertical-align: top;
	    text-align: center;
	}
	section#cal div#canvas table th{
		text-align: center;
	}
	section#cal div#canvas table td:first-child, section#cal div#canvas table td:last-child{
		background: rgb(247,247,247);
	}
	section#cal div#canvas table td .tr-head{
		color:lightgrey;
	}
	section#cal div#canvas table td .today{
		color:pink;
	}
	section#cal div#canvas table .cal-item{
		/*background : pink;*/
		/*padding: 5px;*/
	}

/*queue*/
	/*larger queue show names*/
	section#queue .collection-item span.title a.btn{
		font-size: larger;
	}
	/*better row padding for queue body*/
	section#queue .row{
		padding-bottom:0px;
	}
	section#queue a.watch{
		/*margin-top:13px;*/
		/*margin-left:5px;*/
	}
	section#queue a.watch i{
		padding-top:3px;
	}
	section#queue ul.collection{
		border : none;
	}
	section#queue li.collection-item{
	}
	section#queue span.manage-expanded li{
		border: none;
	}
	section#queue .row{
		padding-bottom:0px;
	}
	section#queue span.title a:hover{
		box-shadow: none;
	}

/*section#add*/
	/*better render of input field*/
	section#add .input-field{
		padding: 10px;
		padding-bottom:0px;
		border-radius: 5px;
	}
	section#add #input{
		color : #0097a7;
		font-size: xx-large;
	}
	/*scroll in addShow tab*/
	section#add ul#search-results{
		overflow-y: scroll;
		max-height:300px;
	}
	section#add .card{
		/*background-color: #fff !important;*/
		/*box-shadow: none;*/
	}
	section#add .card-content{
		margin-bottom:20px; margin-top:20px;
	}

/*section#manage*/
	section#manage a.expand{
		margin-top:13px;
		margin-left:5px;
	}
	section#manage a.expand i{
		padding-top:3px;
	}
	section#manage ul.collection{
		border : none;
	}
	section#manage li.collection-item{
	}
	section#manage span.manage-expanded li{
		border: none;
	}
	section#manage span.manage-expanded li.act-row .row{
		padding-bottom: 0px;
	}
	section#manage span.manage-expanded li.nav-row .row{
		padding-bottom: 0px;
	}
	section#manage span.manage-expanded li.nav-row a.seasonbtn:hover{
		box-shadow: none; /*no button behavior on hover*/
	}
	section#manage span.manage-expanded li.eps-row .row{
		padding-bottom: 0px;
	}
	section#manage span.manage-expanded li.act-row a{
		width:100%;
	}
	section#manage .episodes .card{
		padding-bottom:10px;
		margin-bottom:20px;
	}
	section#manage p.lenses{
		margin-left : 8px;
	}
	
/*settings*/
	section div#settings{
		margin-top : 10px;
	}
	section div#settings a{
		display:block;
		border-radius:10px;
	}
	section div#settings a:hover{
		box-shadow: none;
	}





