<!DOCTYPE html>
<html>
  <head>
    <title>televis.io</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
    <link rel="stylesheet" href="css/index.css">         
    <link rel="apple-touch-startup-image" href="/apple-touch-icon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">


    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  </head>
  <body>

<!---- -- HEADER -- -- -->

    <header>

      <!-- <div class='navbar-fixed'>
        <nav class='cyan lighten-3'>
          <div class="nav-wrapper" style='margin-left: 20px;'>
            <a href="#!" class="brand-logo">
              <i class="material-icons left hide-on-med-and-down">dvr</i>
              televis.io
            </a>
            <a href="#" data-activates="mobile-demo" class="hide-on-med-and-up button-collapse">
              <i class="material-icons">menu</i>
            </a>
            

            <ul class="right hide-on-small-only" id='tabsblock'>
              <li><a class='waves-effect cyan' id='add'> 
                <i class='material-icons hide-on-large-only'>add</i>
                <i class='material-icons left hide-on-med-only'>add</i>
                <span class='hide-on-med-and-down'>Add</span> 
              </a></li>
              <li><a class='waves-effect teal' id='queue'> 
                <i class='material-icons hide-on-large-only'>format_list_bulleted</i>
                <i class='material-icons left hide-on-med-only'>format_list_bulleted</i>
                <span class='hide-on-med-and-down'> <span id='totalQueued'></span> Queued </span>
              </a> </li>
              <li><a class='waves-effect green' id='manage'> 
                <i class='material-icons hide-on-large-only'>settings</i>
                <i class='material-icons left hide-on-med-only'>settings</i>
                <span class='hide-on-med-and-down'>Manage</span> 
              </a></li>
              <li><a class='waves-effect light-green' id='logio'> 
                <i class='material-icons hide-on-large-only'>exit_to_app</i>
                <i class='material-icons left hide-on-med-only'>exit_to_app</i>
                <span class='hide-on-med-and-down'>Log Out</span> 
              </a></li>
            </ul>

            <ul class="side-nav" id="mobile-demo">
              <li><a href="sass.html">Sass</a></li>
              <li><a href="badges.html">Components</a></li>
              <li><a href="collapsible.html">Javascript</a></li>
              <li><a href="mobile.html">Mobile</a></li>
            </ul>
          </div>
        </nav>
      </div> -->

      <!-- <li class="col s4">
              <a id="add" class="waves-effect deep-orange darken-3 white-text btn-large">
                <i class="material-icons left hide-on-small-only">add</i> Add
              </a>
            </li>
            <li class="col s4">
              <a id="queue" class="waves-effect deep-orange white-text btn-large">
                <i class="material-icons left hide-on-small-only">format_list_bulleted</i>
                <span id='totalQueued'></span> Queued
              </a>
            </li>
            <li class="col s4">
              <a id="manage" class="waves-effect deep-orange lighten-2 white-text btn-large">
                <i class="material-icons left hide-on-small-only">settings</i>
                Manage
              </a>
            </li> -->

      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper blue lighten-2">
            <div class='container'>
              <ul id="nav-mobile" class="left">
                <li>
                  <a href="#" id='whoami'>
                    <i class='material-icons left hide-on-small-only'>perm_identity</i>
                    <span></span>
                  </a>
                </li>
              </ul>
              <div href="#" class="brand-logo center"> 
                <i class="material-icons left hide-on-small-only">dvr</i>
                televis.io 
              </div>
              
              <ul id="nav-mobile" class="right">
                <li>
                  <a id='logio'>
                    <i class='material-icons right hide-on-small-only'>exit_to_app</i>
                    Log Out
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>

      <div class='container'>
        <div class="col l12 m12 s12 tabsblock" style="display: block;">
          <ul class="navtabs center-align row"> 
            <li class="col s4">
              <a id="add" class="waves-effect blue lighten-1 white-text btn-large">
                <i class="material-icons left hide-on-small-only">add</i>
                <i class="material-icons hide-on-med-and-up">add</i>
                <span class='hide-on-small-only'>Add</span>
              </a>
            </li>
            <li class="col s4">
              <a id="queue" class="waves-effect blue darken-2 white-text btn-large">
                <i class="material-icons left hide-on-small-only">new_releases</i>
                <span id='totalQueued'></span> <span class='hide-on-med-and-down'>in queue </span>
              </a>
            </li>
            <li class="col s4">
              <a id="manage" class="waves-effect blue lighten-1 white-text btn-large">
                <i class="material-icons left hide-on-small-only">settings</i>
                <i class="material-icons hide-on-med-and-up">settings</i>
                <span class='hide-on-small-only'>Manage</span>
              </a>
            </li>
          </ul>
        </div>
      </div>

    </header>

    <main>
      <div class='container'>
      
        <section id='onboarding'>
          <div class='card white lighten-2'>
            
            <div class='card-content' id='about'>
              <p class='flow-text'><b>televis.io</b> helps you follow live TV, keeping track of what you've seen, what you've missed, and what's coming up.</p>
            </div>
            <div class='card-content' id='entry'>
              <h5></h5>
              <div class='row'>
                  <div class="input-field col m6 s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="username" type="text" class="validate">
                    <label for="username">Username</label>
                  </div>
                  <div class="input-field col m6 s12">
                    <i class="material-icons prefix">vpn_key</i>
                    <input id="password" type="password" class="validate">
                    <label for="password">Password</label>
                  </div>
                </div>
              </form>
            </div>

            <div class="card-action"> 
                <a class="waves-effect btn-large   red white-text" id='cancel'>
                  <i class='material-icons left hide-on-small-only'>backspace</i>
                  <i class='material-icons hide-on-med-and-up'>backspace</i>
                  <span class=' hide-on-small-only'>Cancel</span>
                </a>

                <a class="waves-effect btn-large right blue white-text" id='signup'>
                  <i class='material-icons left hide-on-small-only'>power_settings_new</i>
                  Sign Up
                </a> 

              <a class="waves-effect btn-large light-green white-text" id='login'>
                <i class='material-icons left  hide-on-small-only'>vpn_key</i>
                Log In
              </a>
              <a class="waves-effect btn-large green white-text right" id='go'>
                <i class='material-icons left hide-on-small-only'>forward</i>
                <i class='material-icons hide-on-med-and-up'>forward</i>
                <span class=' hide-on-small-only'>go</span>
              </a>
              
            </div>
          </div>
        </section>
        
        <section id='empty' class='col l10 m12 s12'>
          <div class='card white lighten-2'>
            <div class="card-content"> 
              <h5>There's nothing in your queue.</h5> 
              <p class='flow-text'>You've watched <i>so</i> much television. But there's always more!</p> 
            </div> 
            <div class="card-action"> 
              <a class="waves-effect btn cyan white-text" id='add'>
                <i class='material-icons left'>edit</i>
                Add some shows
              </a> 
            </div> 
          </div>
        </section>

<!--    -- -- QUEUE -- -- -->

        <section id="queue" class="queue col l10 m12 s12">
          <div class='row'>
            <div class='col s12'>
              <ul class="collection" id='queuecollection'>
                <div class='center-align'>
                  <div class="preloader-wrapper big active" style='margin: 30px;'>
                    <div class="spinner-layer spinner-blue-only">
                      <div class="circle-clipper left">
                        <div class="circle"></div>
                      </div><div class="gap-patch">
                        <div class="circle"></div>
                      </div><div class="circle-clipper right">
                        <div class="circle"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </ul>
            </div>
          </div>
        </section>  

        <script type="text/template" id="queue-item-template">
          <li class="collection-item avatar" id= <%=showid%> >
            <i class="material-icons circle">tv</i>
            <span class="title">
              <a class='btn-flat white'>
                <%=showname%>
              </a>
              <a class='secondary-content btn-flat white grey-text hide-on-med-and-down'>
                <%=unseen%> queued
              </a>
            </span>
            <p>
            </p>
          </li>
        </script>

        <script type="text/template" id="episode-template">
          <a class='episode btn <%=color%> white-text truncate <%=extra?'extra':''%>' style='display:<%=hiding%>;' data-show=<%=show_id%> data-season=<%=j%> data-episode=<%=k%> >
            <i class="material-icons left"><%=icon%></i>
            <span class=''><%=s%>x<%=e%> </span>
            <span class=''><%=title%> </span>
          </a>
        </script>

        <script type="text/template" id="more-template">
          <a class='btn grey more' id="<%=showid%>" data-toggled='false'>
            <i class='material-icons left'>expand_more</i>
            <span class='text'>
              <%=more%> more
            </span>
          </a>
        </script>



<!--    -- -- EDITOR -- -- -->

        <section id="add" class="col l12 m12 s12">
          <div class='row'>

            <div class='col s12 m12 l12'>
              <div class="card white lighten-3" onclick="$('#AddShowTitle').focus();">                

                <div class="card-content" id='add-content-a'>
                  <h5> What's the name of the show you're watching? </h5>
                  <div class="input-field lighten-5">
                    <i class="material-icons prefix">search</i>
                    <input id="input" type="text" class="validate"/>
                  </div>
                </div>

                <div class="card-content" id='add-content-b'>
                  <h5> Searching for shows titled <b></b> </h5>
                    <div class="progress pink lighten-4">
                      <div class="indeterminate red darken-2"></div>
                  </div>
                </div>

                <div class="card-content" id='add-content-c'>
                  <h5> Which of these do you mean?</h5>
                  <span></span>
                </div>

                <script type="text/template" id="search-results-template">
                  <ul class="collection">
                  <% _.each(results, function(result) { %>
                    <a class="collection-item avatar black-text" id=<%=result['showid']%> >
                      <i class="material-icons circle green">tv</i>
                      <span class="title"><%=result['name']%></span>
                      <p><%=result['seasons']%> season(s) (<%=result['started']%>) <br>
                         <%=result['status']%>
                      </p>
                    </a>
                  <% }); %>
                  </ul>
                </script>

                <div class="card-content" id='add-content-d'>
                  <h5>Where are you at in <b></b>?</h5>
                  <div class='row'>
                    
                    <div class='col s12 m4 l4'>
                      <a class="waves-effect waves-light btn-large green darken-1" 
                        style='width:100%;' id='empty'>
                        <i class="material-icons left">lens</i>
                        <span class='hide-on-med-only'>Just </span>Starting
                      </a>
                    </div>

                    <div class='col s12 m4 l4'>
                      <a class="waves-effect waves-light btn-large green lighten-1" 
                        style='width:100%;' id='part'>
                        <i class="material-icons left">timelapse</i>
                        Partway Through
                      </a>
                    </div>
                    
                    <div class='col s12 m4 l4'>
                      <a class="waves-effect waves-light btn-large grey" 
                        style='width:100%;' id='full'>
                        <i class="material-icons left">panorama_fish_eye</i>
                        <span class='hide-on-med-only'>All </span>Caught Up
                      </a>
                    </div>

                  </div>
                  
                </div>

                <div class="card-content" id='add-content-e'>
                  <h5>Which seasons have you finished?</h5>
                  <table>
                    <tr>
                      <td> Season 1 </td>
                      <td>
                        <span class='switch'>
                          <label>
                            <!-- No -->
                            <input type="checkbox">
                            <span class="lever"></span>
                            Finished
                          </label>
                        </span>
                      </td>
                    </tr>
                  </table>
                </div>

                <div class="card-content" id='add-content-f'>
                  <h5>Getting Episodes of <b></b> from the Database</h5>
                  <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue-only">
                      <div class="circle-clipper left">
                        <div class="circle"></div>
                      </div><div class="gap-patch">
                        <div class="circle"></div>
                      </div><div class="circle-clipper right">
                        <div class="circle"></div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card-content" id='add-content-g'>
                  <h5>You're now subscribed to <b></b>!</h5>
                </div>

                <div class='card-action'>
                  <a class='waves-effect btn-large green white-text' id='add'>
                    <i class="material-icons left">create</i>
                    <span id='AddShowButtonText'>Add Show</span>
                  </a>
                  <a class='waves-effect btn-large red white-text' id='cancel'>
                    <i class="material-icons left">cancel</i>
                    <span id='AddShowButtonText'>Cancel</span>
                  </a>
                </div> <!-- card-action -->
              </div> <!-- card -->
            </div> <!-- second column -->

          </div> <!-- row -->
        </section> <!-- add -->

<!--    -- -- manage -- -- -->

        <section id="manage" class="col l10 m12 s12">
          <div class='row'>
            <div class='col s12 m12 l12'>

              <ul class="collection" id='managecollection'>
                <div class='center-align'>
                  <div class="preloader-wrapper big active" style='margin: 30px;'>
                    <div class="spinner-layer spinner-blue-only">
                      <div class="circle-clipper left">
                        <div class="circle"></div>
                      </div><div class="gap-patch">
                        <div class="circle"></div>
                      </div><div class="circle-clipper right">
                        <div class="circle"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </ul>

            </div>
          </div>

        </section>

        <script type="text/template" id="manage-item-template">
          <li class="collection-item avatar manage-item" id=<%=showid%>>
            <i class="material-icons circle grey lighten-2 grey-text">tv</i>
            <div class="title truncate">
              <%=showname%>
            </div>

            <p class='lenses'>
            <% for (var i = 0; i < num_seasons; i++){%>
              <i class="material-icons" id = <%= showid+'x'+String(i)+'dot' %> ></i>
            <%}%>
            </p>
            <span class='secondary-content'>
              <a class="btn blue" id='expand' data-id=<%=showid%>>
                <i class="material-icons">expand_more</i>
              </a>
            </span>
          </li>
        </script>

        <script type="text/template" id="manage-details-template">
          <li class="collection-item manage-item-details grey lighten-3" id=<%=showid%>>
            <div class="row">
              <div class="col s12">
                <ul class="tabs grey lighten-3">
                  <%for (var i = 0; i < num_seasons; i++){%>
                    <li class="tab col">
                      <a href='#<%=showid+'x'+i%>'>
                        S<%=i+1%>
                      </a>
                    </li>
                  <%}%>
                  <li class='tab col'>
                    <a href='#<%=showid+'del'%>' class=''>
                      <i class='material-icons' style='margin-top:12px;'>settings</i>
                    </a>
                  </li>
                </ul>
                <br/>
              </div>
              <%for(var i = 0; i < num_seasons; i++){%>
                <div id=<%=showid+'x'+i%> class="col s12">
                </div>
              <%}%>
              <div id=<%=showid+'del'%> class='col s12'>
                <div class="card white">
                  <div class="card-content">
                    <span class="card-title black-text"><%=name%> <small><%=status%></small></span>
                  </div>
                  <div class="card-action">
                    <a class="btn red lighten-1 white-text" id='delete' data-id=<%=showid%> data-name="<%=name%>">
                      <i class="material-icons left">delete</i>
                      Remove Show
                    </a>
                    <a class="btn light-blue lighten-1 white-text" id='reset' data-id=<%=showid%> data-name="<%=name%>">
                      <i class="material-icons left">sync</i>
                      Reset Progress
                    </a>
                    <a class="btn light-green lighten-1 white-text" id='set' data-id=<%=showid%> data-name="<%=name%>">
                      <i class="material-icons left">markunread_mailbox</i>
                      Mark All As Seen
                    </a>
                  </div>
                </div>                
              </div>
            </div>
          </li>
        </script>

      </div>
    </main>

<!---- -- FOOTER -- -- -->

    <footer class="page-footer grey">
      <div class="container">
        <div class='row'>
          <div class='col s12'>
            Written by <a href="http://ambuc.github.io">James Buckland</a>. Built with <a href="http://parse.com">Parse</a> + <a href='http://backbonejs.org'>Backbone</a> + <a href="http://underscorejs.org">Underscore</a> + <a href="http://materializecss.com">Materialize</a> + <a href="http://www.tvrage.com/">TVRage API</a> + <a href="http://www.isgoodstuff.com/2012/07/22/cross-domain-xml-using-jquery/">cross-domain AJAX</a> + <a href="https://code.jquery.com/">jQuery</a>.
          </div>
        </div>
      </div>
    </footer>

  </body>  

<!-- -- -- -- JAVASCRIPT -- -- -- -->

  <script src="lib/jquery-2.1.4.js"></script>
  <!-- // <script src="http://www.parsecdn.com/js/parse-1.4.2.min.js"></script> -->
  <script src="lib/parse-1.4.2.min.js"></script>
  <!-- // <script src="lib/backbone.js"></script> -->

  <!-- // <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script> -->
  <script src="lib/underscore-min.js"></script>

  <!-- // <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script> -->
  <script src="lib/materialize.min.js"></script>

  <script src="lib/date.min.js"></script>

  <script src="lib/jquery.xdomainajax.js"></script>

  <script src="lib/xml2json.min.js"></script>

  <script src="js/televisio.js"></script>

</html>
