<!DOCTYPE html>
<html>

  <head>
    <title>televis.io</title>

    <!-- CSS STYLING -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css"> <!-- must be cdn -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css">         
    
    <!-- FAUX APP BEHAVIOR -->
    <link rel="apple-touch-startup-image" href="/apple-touch-icon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- META -->
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

  </head>

  <body>

<!---- -- HEADER -- -- -->

    <header>

      <div class='navbar-fixed'>
        <nav class=''>
          <div class="nav-wrapper">

            <ul class='left hide-on-large'>
              <li><a class='waves-effect' id='title'> 
                  <i class='material-icons white-text left'>dvr</i>
                  <span class='hide-on-small-only white-text'> televis.io</span>
              </a></li>
            </ul>
            
            <ul class="right tabsblock">
              
              <li class=''><a class='waves-effect' id='add'> 
                <i class='material-icons hide-on-large-only'>add</i>
                <i class='material-icons left hide-on-med-and-down'>add</i>
                <span class='hide-on-med-and-down'>Add</span> 
              </a></li>

              <li class=''><a class='waves-effect' id='queue'> 
                <i class='material-icons hide-on-large-only'>new_releases</i>
                <i class='material-icons left hide-on-med-and-down'>new_releases</i>
                <span class='hide-on-med-and-down'>
                  <span id='totalQueued'></span> 
                  <span>Queued</span> 
                </span>
              </a> </li>

              <li class=''><a class='waves-effect' id='manage'> 
                <i class='material-icons hide-on-large-only'>settings</i>
                <i class='material-icons left hide-on-med-and-down'>settings</i>
                <span class='hide-on-med-and-down'>Manage</span> 
              </a></li>

            </ul>
          </div>
        </nav>
      </div>
    </header>

    <main>
      <div class='container'>
      
<!--    -- -- ONBOARDING -- -- -->

        <section id='onboarding'>
          <div class='card blue-grey lighten-5'>
            
            <div class='card-content' id='about'>
              <p class='flow-text'><b>televis.io</b> helps you follow live TV, keeping track of what you've seen, what you've missed, and what's coming up.</p>
            </div>
            <div class='card-content' id='entry'>
              <h5></h5>
              <div class='row'>
                  <div class="input-field col m6 s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="username" type="text" class="validate">
                    <label for="username">Username</label>
                  </div>
                  <div class="input-field col m6 s12">
                    <i class="material-icons prefix">vpn_key</i>
                    <input id="password" type="password" class="validate">
                    <label for="password">Password</label>
                  </div>
                </div>
              </form>
            </div>

            <div class="card-action"> 
                <a class="waves-effect btn-large red white-text" id='cancel'>
                  <i class='material-icons left hide-on-small-only'>backspace</i>
                  <i class='material-icons hide-on-med-and-up'>backspace</i>
                  <span class=' hide-on-small-only'>Cancel</span>
                </a>

                <a class="waves-effect btn-large right blue white-text" id='signup'>
                  <i class='material-icons left hide-on-small-only'>power_settings_new</i>
                  Sign Up
                </a> 

              <a class="waves-effect btn-large light-green white-text" id='login'>
                <i class='material-icons left  hide-on-small-only'>vpn_key</i>
                Log In
              </a>
              <a class="waves-effect btn-large green white-text right" id='go'>
                <i class='material-icons left hide-on-small-only'>forward</i>
                <i class='material-icons hide-on-med-and-up'>forward</i>
                <span class=' hide-on-small-only'>go</span>
              </a>
              
            </div>
          </div>
        </section>

<!--    -- -- QUEUE -- -- -->

        <section id="queue" class="queue col l10 m12 s12">
          
          <div class='row' id='queue_full'>
            <div class='col m2 s12 right hide-on-small-only'>
              <div class='row' id='queue_settings'>
                  <div class='col s12 right-align'>
                    <a class="waves-effect waves-light btn-large btn-flat grey white-text sortby tooltipped" id='date' data-position='left' data-delay='0' data-tooltip='Sort by Date'>
                      <i class="material-icons">today</i>
                    </a>
                    <a class="waves-effect waves-light btn-large btn-flat white grey-text sortby tooltipped" id='alpha' data-position='left' data-delay='0' data-tooltip='Sort by Name'>
                      <i class='material-icons'>sort_by_alpha</i>
                    </a>
                    <a class="waves-effect waves-light btn-large btn-flat white grey-text sortby tooltipped" id='queued' data-position='left' data-delay='0' data-tooltip='Sort by Number Queued'>
                      <i class="material-icons">markunread_mailbox</i>
                    </a>
                  </div>
                </div>
            </div>
            <div class='col m10 s12'>
              <ul class="collection" id='queue_items'>
                <!-- queue items go here -->
              </ul>
            </div>
          </div>

          <div class='center-align' id='queue_thinking'>
            <br/><br/>
            <div class="preloader-wrapper big active">
              <div class="spinner-layer spinner-red-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div>
                <div class="gap-patch">
                  <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
            <br/><br/>
          </div>

          <div class='center-align' id='queue_empty'>
            <div class="card white">
              <div class="card-content">
                <p class='flow-text'>
                  <h5>You don't have any episodes in your queue.</h5>
                  Either you aren't following any shows, or you've already watched your whole queue.
                </p>
              </div>
              <div class="card-action">
                <a class='btn green white-text' id='follow'>
                  <i class='material-icons left'>add</i>
                  Go follow some shows
                </a>
              </div>
            </div>
          </div>
              
        </section>  

        <script type="text/template" id="queue-item-template">
          <li class="collection-item avatar" id= <%=showid%> >
            <a class='btn-floating btn-waves circle blue watch tooltipped' id = <%=showid%> data-position="right" data-delay="50" data-tooltip="Watch Next Episode of <%=showname%>" >
              <i class='material-icons white-text'>remove_red_eye</i>
            </a>
            <span class="title">
              <a class='btn btn-flat white'>
                <%=showname%>
                <span class='grey-text hide-on-med-and-up'> <span class='unseen'> <%=unseen%> </span> </span>
              </a>
              <a class='secondary-content btn-flat grey-text hide-on-small-only'>
                <span class='unseen'><%=unseen%></span> queued
              </a>
            </span>
            <p>
            </p>
          </li>
        </script>

        <script type="text/template" id="episode-template">
          <a class='episode btn <%=color%> white-text truncate <%=overflow?'overflow':''%> <%=classDisabled%>' style='display:<%=hiding%>;' data-show=<%=show_id%> data-season=<%=j%> data-episode=<%=k%> data-disabled=<%=disabled%> data-seen=<%=seen%> data-overflow=<%=overflow%> data-airdate=<%=airdate%> >
            <i class="material-icons left"><%=icon%></i>
            <span class=''><%=s%>x<%=e%> </span>
            <span class=''><%=title%> </span>
          </a>
        </script>

        <script type="text/template" id="more-template">
          <a class='btn grey more' id="<%=showid%>" data-toggled='false'>
            <i class='material-icons left'>expand_more</i>
            <span class='text'>
              <%=more%> more
            </span>
          </a>
        </script>

<!--    -- -- ADD -- -- -->

        <section id="add" class="col l12 m12 s12">
          <div class='row'>

            <div class='col s12 m12 l12'>
              <div class="card white lighten-3" onclick="$('#AddShowTitle').focus();">

                <div class="card-content" id='add-content-a'>
                  <!-- <h5> What's a show you watch? </h5> -->
                  <div class="input-field lighten-5 large">
                    <input id="input" type="text" class="validate" placeholder="What's a show you watch?"/>
                  </div>
                </div>

                <div class="card-content" id='add-content-b'>
                  <h5> Searching for shows titled <b></b> </h5>
                    <div class="progress pink lighten-4">
                      <div class="indeterminate red darken-2"></div>
                  </div>
                </div>

                <div class="card-content" id='add-content-c'>
                  <h5> Which of these do you mean?</h5>
                  <span></span>
                </div>

                <div class="card-content" id='add-content-d'>
                  <h5>Where are you at in <b></b>?</h5>
                  <div class='row'>
                    
                    <div class='col s12 m6'>
                      <a class="waves-effect waves-light btn-large green darken-1" 
                        style='width:100%;' id='empty'>
                        <i class="material-icons left">lens</i>
                        <span class='hide-on-med-only'>Just </span>Starting
                      </a>
                    </div>

                    <!-- <div class='col s12 m6'>
                      <a class="waves-effect waves-light btn-large green lighten-1" 
                        style='width:100%;' id='part'>
                        <i class="material-icons left">timelapse</i>
                        Partway Through
                      </a>
                    </div> -->
                    
                    <div class='col s12 m6'>
                      <a class="waves-effect waves-light btn-large grey" 
                        style='width:100%;' id='full'>
                        <i class="material-icons left">panorama_fish_eye</i>
                        <span class='hide-on-med-only'>All </span>Caught Up
                      </a>
                    </div>

                  </div>
                  
                </div>

                <div class="card-content" id='add-content-e'>
                  <h5>Which seasons have you finished?</h5>
                  <table>
                    <tr>
                      <td> Season 1 </td>
                      <td>
                        <span class='switch'>
                          <label>
                            <!-- No -->
                            <input type="checkbox">
                            <span class="lever"></span>
                            Finished
                          </label>
                        </span>
                      </td>
                    </tr>
                  </table>
                </div>

                <div class="card-content" id='add-content-f'>
                  <h5>Getting Episodes of <b></b> from the Database</h5>
                  <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue-only">
                      <div class="circle-clipper left">
                        <div class="circle"></div>
                      </div><div class="gap-patch">
                        <div class="circle"></div>
                      </div><div class="circle-clipper right">
                        <div class="circle"></div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card-content" id='add-content-g'>
                  <h5>You're now subscribed to <b></b>!</h5>
                </div>

                <div class='card-action'>
                  <a class='waves-effect btn-large green white-text' id='add'>
                    <i class="material-icons left">search</i>
                    <span id='AddShowButtonText'>Search</span>
                  </a>
                  <a class='waves-effect btn-large red white-text' id='cancel'>
                    <i class="material-icons left">cancel</i>
                    <span id='AddShowButtonText'>Cancel</span>
                  </a>
                </div> <!-- card-action -->

              </div> <!-- card -->
            </div> <!-- second column -->

          </div> <!-- row -->
        </section> <!-- add -->

        <script type="text/template" id="search-results-template">
          <ul class="collection" id='search-results'>
          <% _.each(results, function(result) { %>
            <a class="collection-item avatar black-text" id=<%=result['showid']%> >
              <i class="material-icons circle green">tv</i>
              <span class="title"><%=result['name']%></span>
              <p><%=result['seasons']%> season(s) (<%=result['started']%>) <br>
                 <%=result['status']%>
              </p>
            </a>
          <% }); %>
          </ul>
        </script>

<!--    -- -- MANAGE -- -- -->

        <section id="manage" class="col l10 m12 s12">
          <div class='row'>
            <div class='col s12 m12 l12'>

              <ul class="collection" id='manage_full'>
              </ul>
              
              <div class='center-align' id='manage_thinking'>
                <br/><br/>
                  <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-red-only">
                      <div class="circle-clipper left">
                        <div class="circle"></div>
                      </div>
                      <div class="gap-patch">
                        <div class="circle"></div>
                      </div>
                      <div class="circle-clipper right">
                        <div class="circle"></div>
                      </div>
                    </div>
                  </div>
                <br/><br/>
              </div>

              <div class='center-align' id='manage_empty'>
                <div class="card white">
                  <div class="card-content">
                    <p class='flow-text'>
                      <h5>You're not following any shows yet.</h5>
                      Televis.io helps you keep up with the TV shows you watch. Add some shows and mark off the episodes you've already seen, and we'll keep track of the rest.
                    </p>
                  </div>
                  <div class="card-action">
                    <a class='btn green white-text' id='follow'>
                      <i class='material-icons left'>add</i>
                      Go follow some shows
                    </a>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </section>

        <script type="text/template" id="manage-item-template">
          <li class="collection-item avatar manage-item" id = <%=showid%> >
            <a class="btn-floating btn-waves circle blue white-text expand" id = <%=showid%> >
              <i class="material-icons">
                expand_more
              </i>
            </a>

            <div class="title truncate">
              <a class='btn-flat grey-text right'>
                <span class='unseen'> <%=unseen%> </span> 
                <span class='hide-on-small-only'>queued</span>
              </a>
              <a class='btn-flat white'>
                <%=showname%>
              </a>
            </div>

            <p class='lenses' >
            <% for (var i = 0; i < num_seasons; i++){%>
              <i class="material-icons" id = <%= showid+'x'+String(i)+'dot' %> ></i>
            <%}%>
            </p>
          </li>
          <span class='manage-expanded' id= <%=showid%> >
          </span>
        </script>

        <script type="text/template" id="manage-actions-template">
          <li class="collection-item cyan act-row">
            <div class='row'>
              <div class='col s4'>
                <a class="btn green darken-2 white-text" id='reset' data-id=<%=showid%> data-name="<%=name%>">
                  <i class="material-icons left">check_box_outline_blank</i>
                  <span class='hide-on-small-only'>Queue </span>All
                </a>
              </div> <!-- col s4 -->
              <div class='col s4'>
                <a class="btn green lighten-2 white-text" id='set' data-id=<%=showid%> data-name="<%=name%>">
                  <i class="material-icons left">check_box</i>
                  <span class='hide-on-small-only'>Check </span>All
                </a>
              </div> <!-- col s4 -->
              <div class='col s4'>
                <a class="btn red lighten-1 white-text" id='delete' data-id=<%=showid%> data-name="<%=name%>">
                  <i class="material-icons left">delete</i>
                  <span class='hide-on-med-and-down'>Delete Show</span>
                  <span class='hide-on-small-only hide-on-large-only'>Delete</span>
                  <span class='hide-on-med-and-up'>Del</span>
                </a>
              </div> <!-- col s4 -->
            </div> <!-- row actions-->
          </li>
        </script>

        <script type="text/template" id="manage-season-template">
          <li class="collection-item cyan lighten-4 eps-row">
            <div class='row'> <div class='col s12' id='box'>
            </div> </div>
          </li>
        </script>

        <script type="text/template" id="manage-nav-template">
          <li class="collection-item cyan lighten-2 nav-row center-align" id = <%=season_index%> >
            
            <a class='btn-large lighten-2 white black-text left' id='left' data_index=<%=season_index%>
                <% if (season_index==0) { %>  
                  style='visibility:hidden;' 
                <% } %>
              >
              <i class='material-icons'>keyboard_arrow_left</i>
            </a>

            <a class='btn-flat btn-large cyan lighten-2 white-text seasonbtn'>
              <i class='material-icons left'>local_play</i>
              <span class='hide-on-small-only'>Season </span><%=season_num%>
            </a>

            <a class='btn-large lighten-2 white black-text right' id='right' data_index=<%=season_index%>
                <% if (season_index==num_seasons-1) { %>  
                  style='visibility:hidden;' 
                <% } %>
              >
              <i class='material-icons'>keyboard_arrow_right</i>
            </a>

          </li>
        </script>

      </div>
    </main>

<!---- -- FOOTER -- -- -->

    <footer class="page-footer white">
      <div class="container">
        <div class='row'>
          <div class='col s6'>
            <a href="http://ambuc.github.io" class='btn-large light-blue lighten-1 white-text waves-effect left'> 
              <span class='hide-on-small-only'>
                <i class='material-icons left'>face</i>
                by james buckland
              </span>
              <i class='material-icons hide-on-med-and-up'>face</i>
            </a>
          </div>
          <div class='col s6'>
            <a class='btn-large red lighten-1 white-text waves-effect right' id='logio'> 
              <i class='material-icons hide-on-small-only left'>eject</i>
              <i class='material-icons hide-on-med-and-up'>eject</i>

              <span class='hide-on-small-only'>Log Out</span>

            </a>
          </div>
        </div>
        <div class='row'>
          <div class='col s12' id='writtenwith'>
            Data from the <a href="http://www.tvrage.com/">TVRage API</a>.
            Built with <a href="http://parse.com">Parse</a> 
            + <a href="backbonejs.org">Backbone.js</a> 
            + <a href="http://underscorejs.org">Underscore.js</a> 
            + <a href="https://code.jquery.com/">jQuery</a> 
            + <a href="http://momentjs.com/">Moment.js</a>. 
            Styled with <a href="http://materializecss.com">Materialize</a>.
          </div>
        </div>
      </div>
    </footer>

  </body>  

<!-- -- -- -- JAVASCRIPT -- -- -- -->

<script src="js/lib/jquery.min.js"></script>
<script src="js/lib/parse.min.js"></script>
<script src="js/lib/underscore.min.js"></script>
<script src="js/lib/materialize.min.js"></script>
<script src="js/lib/moment.min.js"></script>

<script src="js/mod/login.js"></script>
<script src="js/mod/onboarding.js"></script>
<script src="js/mod/add.js"></script>
<script src="js/mod/queue.js"></script>
<script src="js/mod/manage.js"></script>
<script src="js/mod/database.js"></script>
<script src="js/mod/util.js"></script>

<script src="js/app.js"></script>

<script type="text/javascript">
  fix_state('manage', 'thinking');
  fix_state('queue',  'thinking');
  $(document).ready(function() {
    try_login();
    check_shows(); //updates shows that need updating
  });
</script>

</html>
